.navbar {
    height: 80px;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid #eeeeee;
}
.logo {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #17172f;
    cursor: pointer;
}
.navLinks {
    display: flex;
    gap: 32px;
}
.navLinks a{
    text-decoration: none;
    color: #6b7280;
    font-size: 15px;
}
.navLinks a:hover{
    color: #6d5b97;
}
.hero {
    min-height: 430px;
    padding: 55px 8%;
    background: #f8f8fb;

    display: flex;
    align-items: center;
}

.heroContent {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.heroText {
    max-width: 650px;
}

.eyebrow {
    margin: 0 0 14px;

    color: #7566a8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
}

.hero h1 {
    margin: 0;

    color: #17172f;
    font-size: clamp(55px, 7vw, 82px);
    line-height: 0.95;
    letter-spacing: -4px;
}

.hero h1 span {
    display: block;
    color: #7566a8;
}

.herotext {
    max-width: 540px;
    margin: 20px 0 0;

    color: #666675;
    font-size: 15px;
    line-height: 1.7;
}

/* BUTTONS */

.heroButtons {
    display: flex;
    align-items: center;
    gap: 18px;

    margin-top: 22px;
}

.primarybutton,
.secondarybutton {
    height: 42px;
    padding: 0 20px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 7px;
    text-decoration: none;

    font-size: 12px;
    font-weight: 600;

    white-space: nowrap;
    transition: 0.25s ease;
}

.primarybutton {
    background: #6d50b5;
    color: white;
    border: 1px solid #6d50b5;
}

.primarybutton:hover {
    background: #59409b;
    transform: translateY(-2px);
}

.secondarybutton {
    background: transparent;
    color: #3d315c;
    border: 1px solid #a69bbd;
}

.secondarybutton:hover {
    background: white;
    color: #6d50b5;
    border-color: #6d50b5;
    transform: translateY(-2px);
}

/* SOCIAL LINKS */

.socialLinks {
    display: flex;
    align-items: center;
    gap: 18px;

    margin-top: 18px;
}

.socialLinks a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #625486;
    font-size: 19px;

    text-decoration: none;

    transition: 0.2s ease;
}

.socialLinks a:hover {
    color: #6d50b5;
    transform: translateY(-2px);
}

.about {
    min-height: 290px;
    padding: 55px 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    background: #ffffff;
}

.aboutleft {
    max-width: 550px;
}
.sectionlabel {
    margin: 0 0 12px;
    color: #7566a8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
}
.aboutleft h2 {
    margin: 0 0 18px;
    color: #17172f;
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.8px;
}
.abouttext {
    margin: 0;
    max-width: 500px;
    color: #666675;
    font-size: 15px;
    line-height: 1.7;
}
.aboutRight {
    padding-left: 55px;
    border-left: 1px solid #e5e5e9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.infoitem {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.infoicon {
    width: 30px;
    color: #7566a8;
    font-size: 28px;
    line-height: 1;
    flex-shrink: 0;
}
.infoitem h3{
    margin: 0 0 5px;
    color: #292942;
    font-size: 14px;
    font-weight: 600;
}
.infoitem p {
    margin: 0;
    color: #777789;
    font-size: 13px;
    line-height: 1.5;
}

@media (max-width: 600px) {
  .navbar {
    height: 65px;
    padding: 0 6%;
  }

  .logo {
    font-size: 22px;
  }

  .navLinks {
    gap: 15px;
  }

  .navLinks a {
    font-size: 12px;
  }

   .hero {
        min-height: 430px;
        padding: 40px 6%;
    }

    .heroContent {
        width: 100%;
    }

    .heroText {
        max-width: 100%;
    }

    .eyebrow {
        margin-bottom: 10px;
        font-size: 9px;
        letter-spacing: 2.5px;
    }

    .hero h1 {
        font-size: 48px;
        letter-spacing: -2.5px;
    }

    .herotext {
        margin-top: 15px;
        font-size: 13px;
        line-height: 1.6;
    }

    .heroButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        margin-top: 20px;
    }

    .primarybutton,
    .secondarybutton {
        height: 38px;
        padding: 0 13px;

        font-size: 10px;
        white-space: nowrap;
    }

    .socialLinks {
        gap: 15px;
        margin-top: 17px;
    }

    .socialLinks a {
        font-size: 17px;
    }

  .about {
    grid-template-columns: 1fr;
    gap: 35px;
    padding: 45px 6%;
  }

  .aboutRight {
    padding-left: 0;
    padding-top: 25px;
    border-left: none;
    border-top: 1px solid #e5e5e9;
  }

  .aboutleft h2 {
    font-size: 25px;
  }

  .abouttext {
    font-size: 14px;
  }

  .infoitem {
    gap: 14px;
  }

  .infoicon {
    width: 25px;
    font-size: 24px;
  }
}